.page{
    background-image: url('image.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height:100vh;
    font-family: 'Dancing Script', cursive;
    background-blend-mode: hard-light;
    font-weight: 400;

}
#header,#header2{
    
    text-align: center;
    text-shadow:1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    color:white;
    text-decoration:underline;

}
form{
    margin: auto;
   font-size: 20px;
   padding: 20px;
   display: inline-block;
    text-align: right;
    position: relative;
    left: 260px;

}
input{
    height: 30px;
    width: 500px; 
    font-size: 20px; 
    margin: 5px;
    font-style: italic;
    background-color:white;
    color:rgb(0, 0, 0);
    font-family: 'Dancing Script', cursive;
    font-weight: 800;
    border-radius: 5px;
    /* box-shadow: 8px 8px 2px 1px  rgb(160, 241, 140); */
}
input:hover{
    transform: translateY(-1px);
}
.add_btn{
    background-color: rgba(201, 100, 248, 0.973);
    height: 50px;
    width: 180px;
    border-radius: 10px;
    font-size: 15px;
    /*box-shadow:8px 8px 1px 1px rgb(140, 0, 255);*/
     box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7); 
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 20px;

}
.add_btn:hover{
    /* background-color: rgba(56, 3, 105, 0.705); */
    /* border:7px solid purple; */
    transform: translateY(4px) translateX(4px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25); 
    background-color: rgb(167, 11, 240);
}

/* .card code is of .all_notes */
.card{
    border: 5px solid rgba(53, 176, 233, 0.589);
    width:280px;
    height:200px;
    display: inline-block;
    position: relative;
    left: 17px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 8px 8px 5px rgba(188, 79, 238, 0.692);
    /* background-color: rgba(138, 247, 187, 0.705); */
    overflow-y:auto;
    background-image: url(note_pg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    /* transition: width 2s, height 2s, transform 2s; */

}
.all_notes:hover{
     transform: translateX(2px) translateY(2px);
    /* width: 24%; */
    /* height:170px; */
}
.delete
{
background-color: rgb(240, 0, 0);
border-radius: 5px;
box-shadow: 5px 5px 5px rgb(58, 57, 58,0.7);
position: relative;
left: 40px;
}
.delete:hover{
    transform: translateX(2px) translateY(2px); 
}
.edit
{
background-color: green;
border-radius: 5px;
position: relative;
left:100px;
box-shadow: 5px 5px 5px rgb(58, 57, 58,0.7);
}
.edit:hover{
    transform: translateX(2px) translateY(2px);
}
.date{
    text-align: right;
    display:inline-block;
    position:relative;
    left: 110px;
}
.t{
    text-align: center;
    background-color: rgb(149, 240, 205);
}
.n{
    text-align: center;
    color: black;
    font-size: 20px;
}
.check{
    position: absolute;
    left:5px;
}
.backup
{
    background-color: rgba(240, 237, 59, 0.973);
    height: 50px;
    width: 180px;
    border-radius: 10px;
    font-size: 15px;
    /*box-shadow:8px 8px 1px 1px rgb(140, 0, 255);*/
     box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7); 
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 20px;
}
.more_del
{
    background-color: rgba(245, 23, 23, 0.973);
    height: 50px;
    width: 180px;
    border-radius: 10px;
    font-size: 15px;
    /*box-shadow:8px 8px 1px 1px rgb(140, 0, 255);*/
     box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7); 
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 20px;
}
.more_del:hover{
    /* background-color: rgba(56, 3, 105, 0.705); */
    /* border:7px solid purple; */
    transform: translateY(4px) translateX(4px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25); 
    background-color: rgb(253, 2, 2);
}
.backup:hover{
    /* background-color: rgba(56, 3, 105, 0.705); */
    /* border:7px solid purple; */
    transform: translateY(4px) translateX(4px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25); 
    background-color: rgb(247, 243, 6);
}
#demo{
    font-size: 30px;
    text-align: center;
}

.search_btn{
    height: 40px;
    width: 80px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(15, 15, 15, 0.7); 
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 20px;
     background-color: rgba(14, 238, 14, 0.822);
}
.search_btn:hover{
    transform: translateY(4px) translateX(4px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25); 
    background-color: rgb(5, 175, 27);
}


